body {
  background-color: rgb(137, 171, 182);
}

h1 {
  color: rgba(1, 0, 66);
  text-align: center;
}

.navigation-header {
  list-style: none;
  display: flex;
  flex-direction: row;
}

li {
  padding: 20px;
}

